<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome User</title>
</head>
<body>
<form th:action="@{/doLogout}" method="post">
    <input type="submit" value="Logout" />
</form>

<a href="create-recipe">Click here to create a recipe.</a><br>
<a href="view-profile">Click here to view profile.</a><br>
<a href="view-recipe">Click here to view a recipe.</a><br>
<a href="search-recipe">Click search for a recipe.</a><br>
<a href="plan-meal">Click here to plan meal.</a><br>

</body>
</html>